html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(140, 6, 55);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
p{
    font-size: 28px;
}
h1{
    font-size: 32px;
}
body{
    color: white;
    text-align: center;
    align-items: center;
}
img{
    padding: 2rem 2rem;
    text-align: center;
    align-content: center;
    border-image-width: 0;
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
    margin: auto;
}
div{
    display: block;
        align-content: center;
        align-items: center;
}
p {
    display: block;
    color: white;
    text-align: center;
}
.flex {

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
}
nav{
flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
    align-content: center;
    
}

@media screen and (max-width:1080px) {
    .flex {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body {
        align-items: left;
        padding: 20px 8%;
    }
    h1 {
        font-size: auto;
    }
    p {
        font-size: auto;
    }
    section {
        padding: 20px 8%;
    }
    img {
        align-items: center;
        width: 70%;
    }
}